<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title th:text="#{moviesDirectory}"></title>
</head>
<body>
<div class="container">

  <h3 th:text="#{moviesDirectory}"></h3>
  <hr>
  <!-- button -->
  <a th:href="@{/administration/menu/movies/showFormForAddMovie}"
     class="btn btn-primary btn-sm mb-3" th:text="#{addMovie}">
  </a>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th th:text="#{nameOfMovie}"></th>
      <th th:text="#{description}"></th>
      <th th:text="#{duration}"></th>
      <th th:text="#{action}"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempMovie : ${movies}">

      <td th:text="${tempMovie.name}" />
      <td th:text="${tempMovie.description}" />
      <td th:text="${tempMovie.duration}" />
      <td>
        <a th:href="@{/administration/menu/movies/showFormForUpdateMovie(movieId=${tempMovie.id})}"
           class="btn btn-primary btn-sm mb-3" th:text="#{update}">
        </a>
        <a th:href="@{/administration/menu/movies/deleteMovie(movieId=${tempMovie.id})}"
           class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">
        </a>
      </td>

    </tr>
    </tbody>
  </table>
  <!-- back to menu -->
  <a th:href="@{/administration/menu}"
     class="btn btn-primary btn-sm mb-3" th:text="#{backToMenu}">
  </a>
</div>
</body>
</html>