<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title th:text="#{updateMovie}"></title>
</head>

<body>

<div class="container">
    <h3 th:text="#{updateMovie}"></h3>
    <hr>
    <form action="#" th:action="@{/administration/menu/movies/saveMovie}" th:object="${movie}"
          method="post" onsubmit="return checkConsistency()">

        <input type="hidden" th:field="*{id}">
        <label th:text="#{nameOfMovie}"></label>
        <input type="text" th:field="*{name}" required="required" pattern="[A-Za-z0-9]{1,20}" placeholder="Name of movie" class="form-control mb-4 w-25">
        <label th:text="#{description}"></label>
        <input type="text" th:field="*{description}" required="required" pattern="[A-Za-z0-9]{1,500}" placeholder="Description of movie" class="form-control mb-4 w-25">
        <label th:text="#{duration}"></label>
        <input type="number" th:field="*{duration}" id="time" required="required" pattern="[0-9]{1,4}" placeholder="Duration (min)" class="form-control mb-4 w-25">
        <button type="submit" class="btn btn-info col-2" th:text="#{save}"></button>
    </form>
    <hr>
    <a th:href="@{/administration/menu/movies}" th:text="#{backToMovieList}"></a>
</div>
<script  th:inline="javascript">
    function checkConsistency() {
        return !!validateDuration(document.getElementById('time').value);}
    function validateDuration(time){
        return time > 0 && time < 10000;
    }
</script>
</body>
</html>



