<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/7e56d8b660.js" crossorigin="anonymous"></script>

    <title>Seat reservation</title>
</head>

<body style="background-color: black">

<div class="container col-3 position-absolute top-50 start-50 translate-middle">
    <div id="loginbox" class="mt-5">
        <div class="card" style="border-color: goldenrod">
            <div class="card-header" style="background-color: goldenrod">
                Reservation Form
            </div>

            <div class="card-body" style="background-color: black">
                <div class="card-text">
                    <!-- Reservation Form -->
                    <form action="#" th:action="@{/reservation/addSoldTicket}" th:object="${soldTicket}" method="post" class="form-horizontal">

                        <input type="hidden" th:field="*{id}">
                        <div class="mb-3" style="color: goldenrod">
                            <i class="fa-solid fa-loveseat"></i>
                            <label for="movieSeat" class="form-label">Seat</label>
                            <select id="movieSeat" th:field="*{movieSeat}" class="form-control" style="border-color: goldenrod; background-color: black; color: white" aria-describedby="movieSeatHelp">
                                <option th:each="seat : ${listOfSeats}" th:value="${seat.getId()}" th:text="${seat.getSeatId().getNumber()}"></option>
                            </select>
                            <div id="movieSeatHelp" class="form-text">Please select a seat you want to reserve.</div>
                        </div>

                        <div class="mb-3" style="color: goldenrod">
                            <i class="bi bi-ticket-detailed"></i>
                            <label for="ticket" class="form-label">Ticket type</label>
                            <select id="ticket" th:field="*{ticket}" class="form-control" style="border-color: goldenrod; background-color: black; color: white" aria-describedby="ticketHelp">
                                <option th:each="ticket : ${listOfTickets}" th:value="${ticket.id}" th:text="${ticket.getName()}"></option>
                            </select>
                            <div id="ticketHelp" class="form-text">Please select the type of ticket.</div>
                        </div>

                        <!-- Reservation Button -->
                        <div class="col-12 d-flex justify-content-between" style="text-align: center">
                            <button type="submit" class="btn" style="background-color: goldenrod">
                                <i class="bi bi-calendar2-check-fill"></i>
                                Reserve
                            </button>
                            <a class="btn btn-secondary ml-5" style="color: black" th:href="@{/home}">
                                Back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>



