<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!--  <style>-->
<!--    ::placeholder {-->
<!--      color: white;-->
<!--    }-->
<!--  </style>-->

  <title>My reservations list</title>
</head>

<body style="background-color: black">

<div class="container mt-3">

  <h2 class="mb-5" style="color: goldenrod;">List of my reservations</h2>

  <form th:action="@{/user/searchReservations}" class="row g-3">
<!--    <div class="col-auto mx-auto">-->
<!--      <label>-->
<!--        <input class="form-control" style="border-color: goldenrod; background-color: black; color: white" type="search" name="movieName" placeholder="Search by movie name">-->
<!--      </label>-->
<!--      <button class="btn mb-1" style="border-color: goldenrod; color: goldenrod" type="submit">Search</button>-->
<!--      <a th:href="@{/user/reservations}" class="btn mb-1" style="border-color: goldenrod; color: goldenrod">-->
<!--        Reset filter-->
<!--      </a>-->
<!--    </div>-->

    <div class="col-auto">
      <a th:href="@{/user/menu}" class="btn mb-1" style="border-color: goldenrod; color: goldenrod">
        Back to the Menu
      </a>
    </div>
  </form>

  <div class="table-responsive mt-4">
    <table class="table" style="border: goldenrod">
      <thead style="border: goldenrod; color: goldenrod">
      <tr>
        <th>Movie name</th>
        <th>Duration (in minutes)</th>
        <th>Date</th>
        <th>Time</th>
        <th>Cinema hall number</th>
        <th>Seat row</th>
        <th>Seat number</th>
        <th>Ticket type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="ticket : ${listOfTickets}">
        <td th:text="${ticket.movieSeat.scheduleOfMovieId.movie.name}" style="color: white"/>
        <td th:text="${ticket.movieSeat.scheduleOfMovieId.movie.duration}" style="color: white"/>
        <td th:text="${ticket.movieSeat.scheduleOfMovieId.date}" style="color: white"/>
        <td th:text="${ticket.movieSeat.scheduleOfMovieId.time}" style="color: white"/>
        <td th:text="${ticket.movieSeat.scheduleOfMovieId.hall.number}" style="color: white"/>
        <td th:text="${ticket.movieSeat.seatId.row}" style="color: white"/>
        <td th:text="${ticket.movieSeat.seatId.number}" style="color: white"/>
        <td th:text="${ticket.ticket.name}" style="color: white"/>
        <td>
          <a th:href="@{/user/deleteReservation(ticketId=${ticket.id})}"
             class="btn" style="border-color: goldenrod; color: goldenrod" onclick="if (!(confirm('Are you sure you want to delete this reservation?'))) return false">
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<div class="container">-->

<!--  <table class="table table-bordered table-striped">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--      <th>Movie name</th>-->
<!--      <th>Duration (in minutes)</th>-->
<!--      <th>Date</th>-->
<!--      <th>Time</th>-->
<!--      <th>Cinema hall number</th>-->
<!--      <th>Seat row</th>-->
<!--      <th>Seat number</th>-->
<!--      <th>Ticket type</th>-->
<!--      <th>Action</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr th:each="ticket : ${listOfTickets}">-->

<!--      <td th:text="${ticket.movieSeat.scheduleOfMovieId.movie.name}" />-->
<!--      <td th:text="${ticket.movieSeat.scheduleOfMovieId.movie.duration}" />-->
<!--      <td th:text="${ticket.movieSeat.scheduleOfMovieId.date}" />-->
<!--      <td th:text="${ticket.movieSeat.scheduleOfMovieId.time}" />-->
<!--      <td th:text="${ticket.movieSeat.scheduleOfMovieId.hall.number}" />-->
<!--      <td th:text="${ticket.movieSeat.seatId.row}" />-->
<!--      <td th:text="${ticket.movieSeat.seatId.number}" />-->
<!--      <td th:text="${ticket.ticket.name}" />-->
<!--      <td>-->
<!--        <a th:href="@{/user/deleteReservation(ticketId=${ticket.id})}"-->
<!--           class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure?'))) return false">-->
<!--          Delete-->
<!--        </a>-->
<!--      </td>-->

<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--&lt;!&ndash;user Menu&ndash;&gt;-->
<!--<a th:href="@{/user/menu}"> Back to user menu</a>-->

</body>
</html>