<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Reservations</title>
</head>
<body>

<div class="container">

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Movie name</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Time</th>
            <th>Hall number</th>
            <th>Ticket type</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="ticket : ${listOfTickets}">

            <td th:text="${ticket.movieSeat.scheduleOfMovieId.movie.name}" />
            <td th:text="${ticket.movieSeat.scheduleOfMovieId.movie.duration}" />
            <td th:text="${ticket.movieSeat.scheduleOfMovieId.date}" />
            <td th:text="${ticket.movieSeat.scheduleOfMovieId.time}" />
            <td th:text="${ticket.movieSeat.scheduleOfMovieId.hall.number}" />
            <td th:text="${ticket.ticket.name}" />
            <td>
                <a th:href="@{/user/deleteReservation(ticketId=${ticket.id})}"
                   class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure?'))) return false">
                    Cancel
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<!--user Menu-->
<a th:href="@{/user/menu}">User menu</a>
</body>
</html>