<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title th:text="#{addHall}"></title>
</head>

<body>

<div class="container">
    <p class="h4 mb-4"  th:text="#{addHall}"></p>

    <form action="#" th:action="@{/administration/menu/cinemaHalls/saveHall}" th:object="${hall}" method="post"
          onsubmit="return checkConsistency()">

        <input type="hidden" th:field="*{id}">
        <label th:text="#{hallNumber}"></label>
        <input type="number" th:field="*{number}" id="number" placeholder="Number" required="required" pattern="[0-9]{1,4}" class="form-control mb-4 w-25">
        <label th:text="#{hallCapacity}"></label>
        <input type="number" th:field="*{capacity}" id="capacity" placeholder="Capacity" required="required" pattern="[0-9]{1,4}" class="form-control mb-4 w-25">

        <button type="submit" class="btn btn-info col-2" th:text="#{save}"></button>
    </form>
    <hr>
    <a th:href="@{/administration/menu/cinemaHalls}" th:text="#{backToMovieList}"></a>
</div>
<script  th:inline="javascript">
    function checkConsistency() {
        return validateNumber(document.getElementById('number').value) && validateCapacity(document.getElementById('capacity').value);}
    function validateNumber(number){
        return number > 0 && number < 1000;
    }
    function validateCapacity(capacity){
        if(capacity>0 && capacity<1000){
            return true;
        }else {
            alert("Capacity must be greater than 0.")
            return false;
        }
    }
</script>
</body>
</html>



