<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{registrationConfirmation}"></title>
</head>

<body>

	<h2 th:text="#{userRegisteredSuccessfully}"></h2>

	<!-- display first name, last name and email -->
	<ul>
		<li th:text="#{userName}+ ${webUser.userName}"></li>
		<li th:text="#{firstName} + ${webUser.firstName}"></li>
		<li th:text="#{lastName} + ${webUser.lastName}"></li>
		<li th:text="#{email} + ${webUser.email}"></li>
	</ul>

	<hr>
	
	<a th:href="@{/loginPage}" th:text="#{loginWithNewUserName}"></a>
	
</body>

</html>