<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->

    <title>Title</title>
</head>


<body>
<br/>
<!--login button-->
<a th:href="@{/loginPage}">Login</a>
<br/>
<!--logout button-->
<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<br/>

<!--administration page-->
<a th:href="@{/administration/menu}">Administration menu</a>

<!--display username and role-->
<div  th:text="'User name: ' +${userName}"/>
<div  th:text="'User authorities: ' +${userAuthorities}"/>
<br/>

</body>
</html>