<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{loginPage}"></title>

<!--  error style  -->
    <style>
        .fail{
            color:red;
        }
    </style>
</head>

<body>
<!--Login title-->
<h3 th:text="#{loginPage}"></h3>


<form action="#" th:action="@{/authenticateTheUser}" method="post">
    <!-- show error -->
    <div th:if="${param.error}">
        <i class="fail" th:text="#{wrongUsername}"></i>
    </div>
    <!-- logout info -->
    <div th:if="${param.logout}">
        <i th:text="#{youHaveBeenLogout}"></i>
    </div>
    <!-- username input field -->
    <p>
        <label th:text="#{userName}"></label>
        <input type="text" name="username"/>

    </p>
    <!-- password input field -->
    <p>
        <label th:text="#{password}"></label>
            <input type="password" name="password"/>

    </p>
    <!-- login button -->
    <input type="submit" value="Login"/>

    <br/>

    <!--Back to home page-->
    <a th:href="@{/home}" th:text="#{backToHomePage}"></a>
</form>
<div>
    <a th:href="@{/register/showRegistrationForm}"
       class="btn btn-primary mt-3"
       role="button"
       aria-pressed="true" th:text="#{registerNewUser}"></a>
</div>
</body>
</html>