<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{administrationMenu}"></title>
</head>
<body>
<!--show movies-->
<a th:href="@{/administration/menu/movies}" th:text="#{movies}">Movies</a>
<br/>
<!--show movies-->
<a th:href="@{/administration/menu/cinemaHalls}" th:text="#{cinemaHalls}"></a>
<br/>
<!--show tickets-->
<a th:href="@{/administration/menu/tickets}" th:text="#{tickets}"></a>
<br/>
<!--show seats-->
<a th:href="@{/administration/menu/seats}" th:text="#{seats}"></a>
<br/>
<!--show schedule-->
<a th:href="@{/administration/menu/schedule}" th:text="#{schedule}"></a>
<br/>
<!--back to home page-->
<a th:href="@{/home}" th:text="#{backToHomePage}"></a>
<br/>
</body>
</html>