<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration menu</title>
</head>
<body>
<!--show movies-->
<a th:href="@{/administration/menu/movies}">Movies</a>
<br/>
<!--show movies-->
<a th:href="@{/administration/menu/cinemaHalls}">Cinema halls</a>
<br/>
<!--show tickets-->
<a th:href="@{/administration/menu/tickets}">Tickets</a>
<br/>
<!--show seats-->
<a th:href="@{/administration/menu/seats}">Seats</a>
<br/>
<!--show schedule-->
<a th:href="@{/administration/menu/schedule}">Schedule</a>
<br/>
</body>
</html>