<!--<!DOCTYPE html >-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title th:text="#{exceptionHandling}">Exception handling</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="#{exceptionHandling}"></h1>-->
<!--<label th:text="#{errorMessage}"></label>-->
<!--<p th:text="${errorMessage}"></p>-->
<!--<label th:text="#{status}"></label>-->
<!--<p th:text="${status}"></p>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exception handling</title>
</head>
<body>
<h1>Exception Handling</h1>
<label>Error message</label>
<p th:text="${errorMessage}"></p>
<label>Status</label>
<p th:text="${status}"></p>
</body>
</html>