<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title th:text="#{schedule}"></title>
</head>
<body>
<div class="container">

  <h3 th:text="#{scheduleDirectory}"></h3>
  <hr>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th th:text="#{date}"></th>
      <th th:text="#{time}"></th>
      <th th:text="#{movieName}"></th>
      <th th:text="#{hallNumber}"></th>
      <th th:text="#{action}"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempMovie : ${scheduleMovies}">

      <td th:text="${tempMovie.date}" />
      <td th:text="${tempMovie.time}" />
      <td th:text="${tempMovie.getMovieName()}"/>
      <td th:text="${tempMovie.getHallNumber()}"/>
                  <td>
                      <a th:href="@{/administration/menu/schedule/showFormForUpdateMovieToSchedule(movieToScheduleId=${tempMovie.id})}"
                         class="btn btn-primary btn-sm mb-3" th:text="#{update}">
                      </a>
                      <a th:href="@{/administration/menu/schedule/deleteMovieToSchedule(movieToScheduleId=${tempMovie.id})}"
                         class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">
                      </a>
                  </td>

    </tr>
    </tbody>
  </table>

  <!-- back to menu -->
  <a th:href="@{/administration/menu}"
     class="btn btn-primary btn-sm mb-3" th:text="#{backToMenu}">
  </a>
</div>

<div>
  <a th:href="@{/administration/menu/schedule/showFormForAddMovieToSchedule}"
     class="btn btn-primary mt-3"
     role="button"
     aria-pressed="true" th:text="#{addNewMovieToSchedule}"></a>
</div>
</body>
</html>