<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Add movie to schedule</title>
</head>

<body>

<div class="container">
    <p class="h4 mb-4">Add Movie to schedule</p>

    <form action="#" th:action="@{/administration/menu/schedule/saveMovieToSchedule}" th:object="${movieToSchedule}" method="post" onsubmit="return checkConsistency()">
        <input type="hidden" th:field="*{id}">
        <label for="time">Time</label>
        <input type="text"th:field="*{time}" id="time" placeholder="HH:MM:SS" class="form-control mb-4 w-25" pattern="^([01]?\d|2[0-3]):([0-5]?\d):([0-5]?\d)$">
        <label for="date">Date</label>
        <input type="date"  th:field="*{date}" id="date" placeholder="Date" class="form-control mb-4 w-25" pattern="\d{2,4}\-\d{1,2}\-\d{1,2}/">
        <label>Hall
            <select th:field="*{hall}">
            <option th:each="hall : ${availableHalls}" th:value="${hall.getId()}" th:text="${hall.getNumber()}"></option>
            </select>
        </label>
        <label> Movie
            <select th:field="*{movie}">
                <option th:each="movie : ${availableMovies}" th:value="${movie.getId()}" th:text="${movie.getName()}"></option>
            </select>
        </label>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/administration/menu/schedule}">Back to schedule</a>
</div>

<script  th:inline="javascript">
    function checkConsistency() {
        return validateTime(document.getElementById('time').value) && validateDate(document.getElementById('date').value);}
    function validateTime(time){
        const re = /^([01]?\d|2[0-3]):([0-5]?\d):([0-5]?\d)$/;
        return re.test(time);}
    function validateDate(date){
        const re=/\d{2,4}-\d{1,2}-\d{1,2}/;
        return re.test(date);}
</script>

</body>
</html>



